<header class="header">
	<div class="container">
		<div class="header__navbar">
			<div class="header__logo"><img src="img/svg/logo.svg" alt="Logo"><h1 class="header__logo--opacity">wild</h1></div>
			<nav class="header__nav">
				<ul class="nav">
					<li class="nav__item">
						<a href="#" class="nav__link">Home</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">About</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Gallery</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Journal</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Contact</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link"><span class="nav__search"></span></a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__content">
			<p class="header__title">Let your life be an</p>
			<p class="header__subtitle">Adventure</p>
			<a href="#" class="btn header__button">Get inspired</a>
		</div>
</header>




