<section class="section contact">
	<div class="container">
		<div class="section__header">
			<div class="section__badge">
				<img src="img/svg/stairs.svg" alt="Badge">
			</div>
			<h1 class="section__title">Con-<br>tact</h1>
		</div>
		<img class="circle" src="img/svg/circle-2.svg" alt="Badge-circle">

		<div class="contact__row">
			<div class="contact__stat stat">
				<h2 class="stat__title">Get in touch</h2>
				<h3 class="stat__subtitle">We're here for you</h3>
				<div class="stat__badge">
					<span class="stat__number">3,146</span>
				</div>
				<h4 class="stat__item stat__item--video">923 Video Makers</h4>
				<h4 class="stat__item stat__item--photo">1.622 Photographers</h4>
				<h4 class="stat__item stat__item--design">601 Motion Designers</h4>
			</div>
			<div class="contact__img">
				<img class="contact__team" src="img/team.jpg" alt="Team">
				<div class="contact__img contact__img--mask"></div>
			</div>
			<div class="form__wrapper">
				<form class="contact__form form" action="#" method="POST">
					<input class="form__inp" type="text" name="name" placeholder="Your name is?">
					<input class="form__inp" type="text" name="email"placeholder="Email">
					<textarea class="form__tarea" name="message" id="" placeholder="Message..."></textarea>
					<button class="btn form__btn" type="submit">Say hello</button>
				</form>
			</div>
		</div>
		<div class="contact__row">
			<div class="contact__block-logo">
				<img class="contact__logo" src="img/svg/logo-contact.svg" alt="Logo">
			</div>
			<div class="contact__info info">
				<ul class="info__list">
					<div class="info__title">Learn more</div>
					<li class="info__item">
						<a class="info__link" href="#">Tour</a>
					</li>
					<li class="info__item">
						<a class="info__link" href="#">Customers</a>
					</li>
					<li class="info__item">
						<a class="info__link" href="#">Pricing & Plans</a>
					</li>
					<li class="info__item">
						<a class="info__link" href="#">New Features</a>
					</li>
					<li class="info__item">
						<a class="info__link" href="#">Education</a>
					</li>
				</ul>
				<ul class="info__list">
					<div class="info__title">About</div>
					<li class="info__item">
						<a class="info__link" href="#">The Project</a>
					</li>
					<li class="info__item">
						<a class="info__link" href="#">Media</a>
					</li>
					<li class="info__item">
						<a class="info__link" href="#">Kit</a>
					</li>
					<li class="info__item">
						<a class="info__link" href="#">Jobs</a>
					</li>
					<li class="info__item">
						<a class="info__link" href="#">Blog</a>
					</li>
				</ul>
				<ul class="info__list">
					<div class="info__title">Support</div>
					<li class="info__item">
						<a class="info__link" href="#">Help Center</a>
					</li>
					<li class="info__item">
						<a class="info__link" href="#">Terms of Service</a>
					</li>
					<li class="info__item">
						<a class="info__link" href="#">Security</a>
					</li>
					<li class="info__item">
						<a class="info__link" href="#">Privacy Policy</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
	
