<div class="wrapper">
	<section class="section section-impressive">
		<div class="container">
			<div class="section__header">
				<div class="section__badge">
					<img src="img/svg/stairs.svg" alt="Badge">
				</div>
				<h1 class="section__title">impres-<br>sive</h1>
				<h2 class="section__subtitle">Shots of the week.</h2>
				<div>
					<img class="section__img section__img--circle" src="img/impressive-circle.jpg" alt="by Jonathan Bean">
					<div class="section__person-name">by Jonathan Bean</div>
				</div>
			</div>
			<div class="section__images images">
				<div class="images__main">
					<img class="images__item images__item--big" src="img/impressive-1.jpg" alt="Shot 1">
				</div>
				<div class="images__other">
					<img class="images__item" src="img/impressive-2.jpg" alt="Shot 2">
					<img class="images__item" src="img/impressive-3.jpg" alt="Shot 3">		
					<img class="images__item" src="img/impressive-4.jpg" alt="Shot 4">
					<img class="images__item" src="img/impressive-5.jpg" alt="Shot 5">
				<a class="link__more" href="#"><span class="link__more--text">See all</span><img class="link__more--arrow" src="img/svg/arrow-right.svg" alt="Arrow-right"></a>
				</div>
			</div>
			<img class="circle" src="img/svg/circle.svg" alt="Badge-circle">
	</div>
	</section>

	<section class="section section-about">
		<div class="container container--about">
			<div class="section__header">
				<div class="section__badge">
					<img src="img/svg/stairs.svg" alt="Badge">
				</div>
				<h1 class="section__title">About</h1>
				<h2 class="section__subtitle">Home to everyone's best photos</h2>
				<div class="section__text">
					<p>
						<i>Wild_</i> is a photo community and marketplace for discovering, sharing, buying, and selling inspiring photography powered by creative people around the world.
					</p>
					<p>
						In our community, you can share your photos worldwide. From mobile photographers to professionals, <i>Wild_</i> has the products and features to take your photography to the next level.
					</p>
					<p>
						We are a photography community unlike any other. We help you to explore 50 million inspiring photos, to connect with other enthusiasts and to learn more about the craft.
					</p>
					<a class="link__more" href="#"><span class="link__more--text">Learn more</span><img class="link__more--arrow" src="img/svg/arrow-right.svg" alt="Arrow-right"></a>
				</div>
			</div>
			<div class="squares">
			<img class="squares__item" src="img/svg/square.svg" alt="Badge-square">
			<img class="squares__item squares__item--small" src="img/svg/square.svg" alt="Badge-square">
			</div>
		</div>
	</section>
	<section class="section section-gallery">
		<div class="container">
			<div class="section__header">
				<div class="section__badge">
					<img src="img/svg/stairs.svg" alt="Badge">
				</div>
				<h1 class="section__title">Gallery</h1>
			</div>
			<div class="slider">
				<div class="slider__item"><img class="slider__img" src="img/gallery-1.jpg"  alt="Slide-1">
					<div class="slider__title">Foam</div>
					<div class="slider__date">Nov 9, 2015</div>
				</div>
				<div class="slider__item"><img class="slider__img" src="img/gallery-2.jpg"  alt="Slide-2">
					<div class="slider__title">Pontneddfechan Waterfalls</div>
					<div class="slider__date">Oct 17, 2015</div>
				</div>
				<div class="slider__item"><img class="slider__img" src="img/gallery-3.jpg"  alt="Slide-3">
					<div class="slider__title">Mocean</div>
					<div class="slider__date">Oct 2, 2015</div>
				</div>
				<div class="slider__item"><img class="slider__img" src="img/gallery-4.jpg"  alt="Slide-4">
					<div class="slider__title">Freshwater West</div>
					<div class="slider__date">Sep 13, 2015</div>
				</div>
				<div class="slider__item"><img class="slider__img" src="img/gallery-5.jpg"  alt="Slide-5">
					<div class="slider__title">Foam</div>
					<div class="slider__date">Nov 9, 2015</div>
				</div>
			</div>
			<a class="link__more" href="#"><span class="link__more--text">Explore gallery</span><img class="link__more--arrow" src="img/svg/arrow-right.svg" alt="Arrow-right"></a>
			<img class="section__img section__img--xxx" src="img/svg/xxx.svg" alt="Badge-xxx">
		</div>
	</section>
	








