 
<section class="section section-journal">
    <div class="container">
    <div class="section__header">
      <div class="section__badge">
        <img src="img/svg/stairs.svg" alt="Badge">
      </div>
      <h1 class="section__title">jour-<br>nal</h1>
    </div>
    <img class="section__img section__img--triangle" src="img/svg/triangle.svg" alt="Badge-triangle">
  </div>
  <div class="section-journal__skew"></div>
  <div class="section__number"><div class="section__odometr">714</div>
  </div>
 <a class="link__more" href="#"><span class="link__more--text">Shared Stories</span><img class="link__more--play" src="img/svg/icon-play.svg" alt="Play"></a>

</section>