 
<section class="section section-journal">
    <div class="container">
    <div class="section__header">
      <div class="section__badge">
        <img src="img/svg/stairs.svg" alt="Badge">
      </div>
      <h1 class="section__title">jour-<br>nal</h1>
    </div>
    <img class="section__img section__img--triangle" src="img/svg/triangle.svg" alt="Badge-triangle">
  </div>
  <div class="section-journal__skew"></div>
  <div class="section__number">
    <div class="section__odometr odometer" id="odo1">714</div>
  </div>
 <a class="link__more" href="#">
  <span class="link__more--text">Shared Stories</span>
  <img class="link__more--play" src="img/svg/icon-play.svg" alt="Play">
 </a>
 <div class="topics">
   <h1 class="topics__title">Weekly topics</h1>
   <h2 class="topics__subtitle">Written by people like you</h2>
   <div class="container topics__items">
     <div class="topics__item">
       <h3 class="topics__name">The Summit</h3>
       <blockquote >
        <span class="topics__line"></span>
         <p class="topics__text">
            You only live once. A phrase adopted and since-overused by popular culture, it is actually rooted in truth. You should always be pushing your boundaries, striving for your most difficult goals, and scaring yourself every day with something new.
         </p>
        <div>
          <img class="section__img section__img--circle section__img--circle--small" src="img/topics-2.jpg" alt="Filip Osklen">
          <div class="section__person-name">Filip Osklen</div>
        </div>
       </blockquote>

     </div>
      <div class="topics__badge icon-six-points">
      </div>
      
     <div class="topics__item">
       <h3 class="topics__name">Other Worldly</h3>
       <blockquote >
        <span class="topics__line"></span>
         <p class="topics__text">
           It’s rainy today; the fire in the stove is burning brightly. The house enfolds me in its lustrous timber walls with their fine scent of wood. It’s doing me good to be in Leis. I am just sitting here, quite still, looking.
         </p>
        <div>
          <img class="section__img section__img--circle section__img--circle--small" src="img/topics-1.jpg" alt="Rachel Robert">
          <div class="section__person-name">Rachel Robert</div>
        </div>
       </blockquote>

     </div>
   </div>
  </div>

<div class="section__gradient"></div>
</section>
</div>