.block-skew {
    position: absolute;
    top: 117%;
    background: white;
    width: 100%;
    height: 100%;
    transform: skewY(9deg);

    & .section{
        width: 100%;
        transform: skewY(-9deg);
        margin: 0 auto;

        &__header{
            float: left;
            position: absolute;
            z-index: 10;
        }
}
    & .section-impressive{
        padding-bottom: 120px;

        & .section__subtitle{
            color: $color-text;
            margin: 8px 0;

        }

}
    & .images{
        width: 57%;
        float: left;
        max-height: 430px;
        padding: 0;
        display: flex;
        margin-left: 25%;
        margin-top: -7%;
        
        &__main{
            position: relative;
            width: 100%;
}
        &__other{
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex: 100%;
            flex-flow: row wrap;
            align-content: start;
            position: relative;
            margin-left: -10px;

}
        &__item{
                width: 40%;
                height: 28%;
                box-shadow: 0 30px 30px 0 rgba(140, 153, 191, 0.2);
                border: solid 10px #ffffff;
                margin-left: 10px;
                margin-bottom: 10px;

                &--big{
                    width: 85%;
                    height: 83%;
                    position: absolute; 
                    border: solid 15px #ffffff;
                }
            }

}
}

/* Section About */

.section-about{
    padding-top: 100px;
    padding-bottom: 150px;

    & .section__text{
        font-size: 23px;
        color: $color-text;
        font-weight: bold;
    }
    & .section__subtitle{
        color: $color-text;
        font-size: 30px;
    }
    & .link__more{
        position: relative;
        float: right;
        bottom: 0;
    }
    & .section__header{
        position: relative;
        width: 60%;
    }
    & .container--about{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
}
    & .squares{
        position: relative;
        margin-right: 100px;
        margin-top: 80px;

        &__item{
            width: 140px;    

            &--small{
                width: 80px;
                position: absolute;
                top: -60px;
                right: -80px;
}
    }}
}

/* Section Gallery */

.section-gallery{
    z-index: 999;
    position: absolute;

    & .section__header{
        float: none;
        position: relative;
    }
    & .link__more{
        bottom: -50px;
    }

    & .section__img--xxx{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 130px;
}
    }

.slider{
    position: relative;
    overflow: hidden;

    &__img{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }


    &__item{
        position: relative;
        display: inline-flex;
        box-shadow: 0 30px 30px 0 rgba(140, 153, 191, 0.2);
        border: solid 20px #ffffff;
        padding-bottom: 80px;
        margin: 20px;
        outline: none;
    }

    &__title{
        font-weight: bold;
        bottom: 35px;
        position: absolute;
        font-size: 17px;
    }
    &__date{
        color: $color-text_light;
        bottom: 0px;
        font-size: 17px;
        position: absolute;        
    }
}




