@import '_variables';


body{
	font-family: Proxima Nova Light;
}

blockquote{
    margin: 0;
}

.btn{
    border-radius: 60px;
    padding: 15px 45px;
    text-decoration: none;
    font-size: 20px;

    &--blue{
        color: #98b8f6;
        border: solid 2px #98b8f6;
    }
}

.container{
	margin: 0 auto;
	position: relative;
}

.section{
    &__title{
        text-transform: uppercase;
        font-size: 85px;
        line-height: 75px;
        letter-spacing: 4px;
        margin: 10px 0px;
        color: $color-text;
    }

    &__img--circle{
        border-radius: 60px;
        float: left;
        width: 61px;
        height: 61px;
        margin-right: 20px;
        object-fit: cover;
    }

    &__person-name{
        line-height: 61px;
        font-size: 20px;
        color: $color-text_light;
    }
    }

.link__more{
	position: absolute;
	bottom: 60px;
	right: 15px;
	text-decoration: none;
	color: $color-sign;
  	font-size: 22px;
	display: flex;
	font-weight: bold;

	&--arrow{
		margin-left: 20px;
                }

            }


.form{
    &__inp{
        border: 1px solid #d2d2d2;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 15px 23px;
        outline: none;

        &::placeholder{
            color:#cccccc;
        }
    }

    &__tarea{
        height: 150px;
        @extend .form__inp;

    }
    &__btn{
        background-color: #98b8f6;
        border: none;
        text-transform: uppercase;
        color: white;
        font-size: 20px;
    }
}