@charset "UTF-8";
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
  * Remove default margin.
  */
body {
  margin: 0;
}

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none;
}

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold;
}

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic;
}

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000;
}

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0;
}

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px;
}

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto;
}

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto;
}

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold;
}

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}


body {
  font-family: Proxima Nova Light;
}

blockquote {
  margin: 0;
}

.btn {
  border-radius: 60px;
  padding: 15px 45px;
  text-decoration: none;
  font-size: 20px;
}

.btn--blue {
  color: #98b8f6;
  border: solid 2px #98b8f6;
}

.container {
  margin: 0 auto;
  position: relative;
}

.section__title {
  text-transform: uppercase;
  font-size: 85px;
  line-height: 75px;
  letter-spacing: 4px;
  margin: 10px 0px;
  color: #4e4e4e;
}

.section__img--circle {
  border-radius: 60px;
  float: left;
  width: 61px;
  height: 61px;
  margin-right: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__person-name {
  line-height: 61px;
  font-size: 20px;
  color: #9c9c9c;
}

.link__more {
  position: absolute;
  bottom: 60px;
  right: 15px;
  text-decoration: none;
  color: #98b8f6;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

.link__more--arrow {
  margin-left: 20px;
}

.form__inp, .form__tarea {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px 23px;
  outline: none;
}

.form__inp::-webkit-input-placeholder, .form__tarea::-webkit-input-placeholder {
  color: #cccccc;
}

.form__inp:-ms-input-placeholder, .form__tarea:-ms-input-placeholder {
  color: #cccccc;
}

.form__inp::-ms-input-placeholder, .form__tarea::-ms-input-placeholder {
  color: #cccccc;
}

.form__inp::placeholder, .form__tarea::placeholder {
  color: #cccccc;
}

.form__tarea {
  height: 150px;
}

.form__btn {
  background-color: #98b8f6;
  border: none;
  text-transform: uppercase;
  color: white;
  font-size: 20px;

.container {
  margin: 0 auto;

}

@font-face {
  font-family: "wild-icons";
  src: url("../font/wild-icons.eot");
  src: url("../font/wild-icons.eot?#iefix") format("eot"), url("../font/wild-icons.woff2") format("woff2"), url("../font/wild-icons.woff") format("woff"), url("../font/wild-icons.ttf") format("truetype"), url("../font/wild-icons.svg#wild-icons") format("svg");
}


.icon-facebook:before, .icon-google-plus:before, .icon-play:before, .icon-search:before, .icon-six-points:before, .icon-twitter:before {

.icon-facebook:before, .icon-google-plus:before, .icon-play:before, .icon-search:before, .icon-six-points:before, .icon-twitter:before {

.icon-arrow-right:before, .icon-facebook:before, .icon-google-plus:before, .icon-play:before, .icon-search:before, .icon-six-points:before, .icon-twitter:before {

  font-family: "wild-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}


.icon-facebook:before {
  content: "";
}

.icon-google-plus:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-six-points:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url("../font/ProximaNova-Light.woff");
}

.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.header {
  background-image: url("../img/bg_header.png");
  background-position: bottom center;
  position: absolute;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 130vh;
  padding-top: 50px;
}

.header__skew {
  -webkit-transform: skewY(9deg);
          transform: skewY(9deg);
  position: absolute;
  top: 85%;
  background: white;
  width: 100%;
  height: 45%;
}

.header__logo--opacity {
  opacity: 0;
  display: inline;
}

.header__navbar {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 25px;
}

.header__navbar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar .nav__item {
  margin-left: 40px;
  font-size: 14px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.header__navbar .nav__link {
  text-decoration: none;
  color: #c1b2b1;
}

.header__navbar .nav__search {
  background-image: url(../icon/search.svg);
  width: 23px;
  height: 23px;
  display: block;
  font-size: 10px;
}

.header__content {
  text-align: center;
  color: white;
  margin-top: 180px;
}

.header__title {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 0px;
  letter-spacing: 8px;
}

.header__subtitle {
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 30px;
  letter-spacing: 8.3px;
}

.header__button {
  border: solid 2px rgba(255, 255, 255, 0.8);
  color: white;
}

.wrapper {
  margin-top: 56%;
  -webkit-transform: skewY(9deg);
          transform: skewY(9deg);
}

.wrapper .section {
  width: 100%;
  -webkit-transform: skewY(-9deg);
          transform: skewY(-9deg);
  margin: 0 auto;
  will-change: transform;
}

.wrapper .section__header {
  float: left;
  position: absolute;
  z-index: 10;
}

.wrapper .section-impressive {
  padding-bottom: 120px;
}

.wrapper .section-impressive .section__subtitle {
  color: #4e4e4e;
  margin: 8px 0;
}

.wrapper .images {
  width: 57%;
  float: left;
  max-height: 430px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25%;
  margin-top: -7%;
}

.wrapper .images__main {
  position: relative;
  width: 100%;
}

.wrapper .images__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: start;
  position: relative;
  margin-left: -10px;
}

.wrapper .images__item {
  width: 40%;
  height: 28%;
  -webkit-box-shadow: 0 30px 30px 0 rgba(140, 153, 191, 0.2);
          box-shadow: 0 30px 30px 0 rgba(140, 153, 191, 0.2);
  border: solid 10px #ffffff;
  margin-left: 10px;
  margin-bottom: 10px;
}

.wrapper .images__item--big {
  width: 85%;
  height: 83%;
  position: absolute;
  border: solid 15px #ffffff;
}

/* Section About */
.section-about {
  padding-top: 100px;
  padding-bottom: 150px;
}

.section-about .section__text {
  font-size: 23px;
  color: #4e4e4e;
  font-weight: bold;
}

.section-about .section__subtitle {
  color: #4e4e4e;
  font-size: 30px;
}

.section-about .link__more {
  position: relative;
  float: right;
  bottom: 0;
}

.section-about .section__header {
  position: relative;
  width: 60%;
}

.section-about .container--about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.section-about .squares {
  position: relative;
  margin-right: 100px;
  margin-top: 80px;
}

.section-about .squares__item {
  width: 140px;
}

.section-about .squares__item--small {
  width: 80px;
  position: absolute;
  top: -60px;
  right: -80px;
}

/* Section Gallery */
.section-gallery {
  z-index: 999;
  position: absolute;
}

.section-gallery .section__header {
  float: none;
  position: relative;
}

.section-gallery .link__more {
  bottom: -50px;
}

.section-gallery .section__img--xxx {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 130px;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider__img {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__item {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-shadow: 0 30px 30px 0 rgba(140, 153, 191, 0.2);
          box-shadow: 0 30px 30px 0 rgba(140, 153, 191, 0.2);
  border: solid 20px #ffffff;
  padding-bottom: 80px;
  margin: 20px;
  outline: none;
}

.slider__title {
  font-weight: bold;
  bottom: 35px;
  position: absolute;
  font-size: 17px;
}

.slider__date {
  color: #9c9c9c;
  bottom: 0px;
  font-size: 17px;
  position: absolute;
}

.section-journal {
  margin-top: 670px !important;
  width: 100vw;
  height: 150vh;
  top: 0;
  left: auto;
  background: url(../img/bg_journal.png) center top no-repeat;
  background-size: cover;
  color: white;
}

.section-journal__skew {
  position: absolute;
  top: -28%;
  background: white;
  width: 100%;
  height: 45%;
  -webkit-transform: skewY(9deg);
          transform: skewY(9deg);
}

.section-journal .section__img--triangle {
  margin-top: 30px;
  width: 200px;
  position: absolute;
  right: 0;
  z-index: 99;
}

.section-journal .section__person-name {
  line-height: 50px;
  font-size: 15px;
}

.section-journal .link__more {
  font-size: 1.7vw;
  left: 64vw;
  top: 68vh;
  display: inline-table;
  position: absolute;
  color: white;
  text-transform: uppercase;
  z-index: 9;
}

.section-journal .link__more--text {
  padding-right: 15px;
  font-weight: 400;
}

.section-journal .link__more__more--play {
  width: 0.9vw;
}

.section__number {
  -webkit-mask: url(../img/mask_bg_journal.png) center top no-repeat;
  -webkit-mask-size: cover;
  width: 98vw;
  height: 150vh;
  color: #333;
  margin: 0;
  letter-spacing: -0.03em;
  position: relative;
}

.section__odometr {
  position: fixed;
  display: inline-block;
  padding: 25vh 0 0 50vw;
  font-size: 19vw;
  text-align: center;
  color: white;
}

.topics {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 50vh;
  z-index: 9;
}

.topics__title {
  font-size: 3.5vw;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.topics__subtitle {
  font-size: 1.5vw;
  margin: 0;
  color: #9c9c9c;
  text-align: center;
}

.section__gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.0001)), to(#000d14));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0001), #000d14);
  width: 100%;
  height: 80vh;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.topics__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.topics__name {
  margin-left: 15px;
  font-size: 25px;
  margin-bottom: 10px;
}

.topics__text {
  margin-top: 0;
  margin-left: 15px;
  font-size: 18px;
  color: #9c9c9c;
}

.topics__item {
  width: 40%;
}

.topics__badge {
  width: 20px;
  color: #636363;
}

.topics__line {
  border-left: 2px solid;
  height: 50px;
  float: left;
  color: #515151;
}

.section__img--circle--small {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

.section-six {
  padding-top: 40px;
}

.section-six__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-six__item {
  width: 50%;
  position: relative;
}

.section-six__item--two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-six .topics__item {
  width: 100%;
}

.section-six .topics__text {
  border-left: 2px solid #dfdfdf;
  margin: 0;
  padding-left: 15px;
  margin-bottom: 30px;
  margin-top: 50px;
  font-size: 16px;
}

.section-six .topics__btn {
  text-transform: uppercase;
  font-size: 15px;
  padding: 13px 32px;
  margin-left: 15px;
  margin-top: 20px;
}

.section-six .topics__name {
  color: #518da3;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 30px;
}

.section-six .topics__subname {
  margin-left: 15px;
  font-size: 20px;
  color: #bbcada;
  margin-top: 5px;
}

.section-six .explore {
  text-align: center;
  background-image: url(../img/explore.jpg);
  background-size: cover;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-transform: uppercase;
}

.section-six .explore__title {
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 0;
}

.section-six .explore__subtitle {
  font-size: 80px;
  margin: 0;
}

.section-six .explore__btn {
  border: 2px solid white;
  color: white;
  width: 15%;
  margin: 0 auto;
  padding: 10px 15px;
  font-size: 15px;
}

.section-six .section__person-name {
  line-height: 50px;
  font-size: 15px;
}

.section-six__subitem {
  width: 46%;
  margin-left: 4%;
}

.section-six .video {
  background-image: url(../img/watch-video.jpg);
  background-size: cover;
  height: 380px;
}

.section-six .video__play {
  position: absolute;
  top: 40px;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

.section-six .video__play--badge {
  margin-right: 20px;
}

.section-six .stories__title {
  color: #518da3;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 8px;
}

.section-six .stories__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-six .stories__item {
  border: 1px solid #b1b1b1;
  border-radius: 10px;
  width: 28%;
  margin-left: 3%;
  height: 220px;
  position: relative;
  text-align: center;
  padding: 2px;
}

.section-six .stories__img--circle {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  position: relative;
  margin-top: 20px;
}

.section-six .stories__category {
  color: #9c9c9c;
}

.section-six .stories__dsc {
  margin-top: 20px;
  color: #4e4e4e;
  font-weight: bold;
  font-size: 14px;
}

.section-six .stories__by {
  color: #9c9c9c;
  font-size: 15px;
}

.section-six .stories .link__more {
  bottom: 10px;
}

.section-six .stories__play {
  width: 14px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 40px;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}

.contact {
  padding-top: 80px;
}

.contact__row {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.contact .section__header {
  position: relative;
}

.contact__img {
  width: 345px;
  position: relative;
  padding-top: 2px;
}

.contact__img--mask {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#98b8f6), to(transparent));
  background-image: linear-gradient(to bottom, #98b8f6, transparent);
  width: 100%;
  height: 273px;
  position: absolute;
  top: 0;
}

.contact__stat {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  padding-right: 20px;
}

.contact .stat {
  text-align: center;
}

.contact .stat__title {
  text-transform: uppercase;
  font-size: 30px;
  color: #4e4e4e;
  margin: 60px 0 0 0;
}

.contact .stat__subtitle {
  font-size: 20px;
  color: #9c9c9c;
  margin: 0 0 30px 0;
}

.contact .stat__badge {
  background-image: url(../img//svg/circle-colored.svg);
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
}

.contact .stat__number {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  color: #31373b;
  font-weight: bold;
}

.contact .stat__item {
  font-size: 15px;
  line-height: 28px;
  margin: 0;
  color: #a8c1f3;
}

.contact .stat__item--video {
  color: #bfd4e8;
}

.contact .stat__item--design {
  color: #f8e1d9;
}

.contact .form__wrapper {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 30px 10px 70px;
}

.contact__team {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact .circle {
  position: absolute;
  right: 30%;
  width: 180px;
  height: 180px;
  top: 20px;
}

.contact__block-logo {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  position: relative;
}

.contact__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.info__list {
  list-style: none;
}

.info__title {
  font-size: 20px;
  text-transform: uppercase;
  color: #95a9b1;
  font-weight: bold;
}

.info__item {
  margin-top: 15px;
}

.info__link {
  text-decoration: none;
  color: #98b8f6;
  font-size: 18px;
}

.footer {
  background-color: #e8edef;
  margin-top: 40px !important;
  padding: 10px 0;
}

.footer__copyright {
  font-size: 20px;
  color: #95a9b1;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  text-decoration: none;
  color: #95a9b1;
  margin-left: 30px;
  font-size: 20px;

.icon-arrow-right:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-google-plus:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-six-points:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}


@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px;

    margin: 0 auto;


  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}
